.debt-table {
  width: 55%;
  min-width: 400px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 6fr 4fr 4fr 3fr 5fr;
}

.debt-table div {
  border: 1px solid rgb(175, 175, 175);
  padding: 4px 2px;
  margin: 1px;
}

.debt-table .debt-table-header {
  border: 1px solid black;
  border-left-width: 0px;
  font-weight: bold;
  padding: 12px 2px;
  display: flex;
  align-items: center;
  margin: 0;
}

.debt-table-header:first-of-type {
  border-left-width: 1px;
}

.right-align {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.min-pay-percent::after {
  content: "%";
}

.balance::before {
  content: "$";
}