.debt-table {
  width: 55%;
  min-width: 400px;
  margin: 20px auto;
}

.debt-table-grid {
  display: grid;
  grid-template-columns: 3fr 6fr 4fr 4fr 3fr 5fr;
}

.debt-table-grid div {
  border: 1px solid rgb(175, 175, 175);
  padding: 4px 2px;
  margin: 1px;
}

.unchecked {
  background-color: rgb(238, 177, 177);
}

.debt-table .debt-table-header {
  border: 1px solid black;
  border-left-width: 0px;
  font-weight: bold;
  padding: 12px 2px;
  display: flex;
  align-items: center;
  margin: 0;
}

.debt-table-header:first-of-type {
  border-left-width: 1px;
}

.debt-table input[type="checkbox"]{
  justify-self: center;
  align-self: center;
}

.right-align {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.min-pay-percent::after {
  content: "%";
}

.balance::before {
  content: "$";
}

div.debt-table-total {
  margin: 0;
  border: 0;
  background-color: rgb(144, 211, 241);
  font-weight: bold;
}

.grid-col-2-7 {
  grid-column: 2 / 7;
}

.debt-table-footer {
  display: flex;
  justify-content: flex-start;
}

.debt-table-footer span {
  margin-right: 2.5em;
  font-weight: bold;
}